@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap";

:root{
    --color-orange:rgb(223, 148, 37);
    --color-white :rgb(255, 255, 255);
    --color-blue: rgb(44, 20, 133);
} 

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: var(--color-white);
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 30px;
    background: rgba(44, 20, 133, 0.8)
}

.links {
    text-align: center ;
}

.links a {
    color: var(--color-white);
    font-size: 20px;
    line-height: 30px;
    margin: 0 15px;
    text-decoration: none;
}

.links a:hover {
    color: var(--color-orange);
    transition: color 500ms;
}

#programming-package{
    text-align: center;
    padding: 30px;
}

#programming-package img{
    border-radius: 100px 20px;
    border: 4px solid rgb(0, 0, 0);
    margin-bottom: 16px;
    height: 200px ;
}

#programming-package h1{
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
}

#programming-package h2{
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 8px;
    opacity: 0.8;
}

#programming-package p{
    max-width: 650px;
    margin: 16px auto;
    font-size: 24px;
    line-height: 34px;
}

#programming-package p a{
    color: var(--color-blue);
}

#wrapper{
    text-align: center;
    padding: 30px;
}

#wrapper img{
    border-radius: 200px;
    border: 4px solid rgb(0, 0, 0);
    margin-bottom: 16px;
    height: 200px ;
}

#wrapper h1{
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
}

#wrapper h2{
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 8px;
    opacity: 0.8;
}

#wrapper p{
    max-width: 650px;
    margin: 16px auto;
    font-size: 24px;
    line-height: 34px;
}

#wrapper p a{
    color: var(--color-blue);
}

#wrapper ul li{
    list-style-position: inside;
    text-align: center;
    font-size: 16px;
    line-height: 12px;
    margin-top: 17px;
}

#links-footer{
    width: 100%;
    height: 40px;
    margin: auto;
    bottom: 0;
    position: fixed;
    padding: 20px;
    background: rgba(44, 20, 133, 0.9);  
}
